@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    /*background-image: linear-gradient(to right, #02908b, #3ca156);*/
    background-color: #085e72;
}

#updiv{
    /* background-color: red; */
    display: block;
    position:absolute;
    height: 30%;
    width: 99%;
}

#downdiv{
    /* background-color: blue; */
    position:absolute;
    bottom: 5%;
    display: block;
    height: 70%;
    width: 99%;
}

#logo{
    position: relative;
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
    z-index: 3;
    top: 35%;
}
#formdiv{
    position:relative;
    height: fit-content;
    display: block;
    width: 400px;
    margin: auto;
    background-color: white;
    z-index: 2;
    box-shadow: 5px 5px 5px #212121;
}

#loginform, #changepassform{
    text-align: center;
    display: block;
}

#usernameTxt{
    height: 40px;
    width: 75%;
    margin-bottom: 2%;
    font-size:small;
    font-size: 17px;
}

#passwordTxt{
    height: 40px;
    width: 75%;
    margin-bottom: 5%;
    font-size: 17px;
}
#passTxt{
    height: 40px;
    width: 75%;
    margin-bottom: 2%;
    font-size:small;
    font-size: 17px;
}

#newpassTxt{
    height: 40px;
    width: 75%;
    margin-bottom: 2%;
    font-size: 17px;
}

#newpassTxt2{
    height: 40px;
    width: 75%;
    margin-bottom: 5%;
    font-size: 17px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#confirmBtn{
    align-content: center;
    height: 40px;
    width: 75%;
    border: none;
    background-color:#3366ff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 17px;
    margin: 4px 2px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 4px;
}

.show {display: block;}
#signoutDrp:hover{
  background-color: #ffcccb;
}

.show {display: block;}
#passDrp:hover{
  background-color: #98ff98;
}